* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(240,235,171);
  background: linear-gradient(154deg, rgba(240,235,171,1) 0%, rgba(247,235,136,1) 12%, rgba(243,223,255,1) 26%, rgba(243,201,255,1) 51%, rgba(237,181,251,1) 67%, rgba(154,155,246,1) 88%, rgba(120,121,255,1) 97%);
}
.container-school-page {
  height: 190vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15rem;
}
.container-card-school-page{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(85, 84, 84);
  font-size: 23px;

}
.search-input{
    width: 70%;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px;
}
.search-input input{
  text-align: center;
  color: black;
}

.search-buttons {
  margin: 20px;
  display: flex;
  gap: 1rem;
}

.input-search-school {
  text-align: center;
}

.school-card {
  margin: 10px;
  width: 300px;
  height: 400px;
  
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;

}

.school-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.school-card .card-img-top {
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.school-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.school-card .card-text {
  font-size: 1rem;
  color: #666;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}
.buttons-pagination{
  display: flex;
  gap: 2rem;
}
.buttons-pagination button{
  background-color: black;
  color: white;
}
.buttons-pagination button:hover{
  background-color: rgb(108, 108, 108);
  color: rgb(20, 19, 19);
}