* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-school-page {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

.container-card-school-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(85, 84, 84);
  font-size: 18px;
  margin: 50px;

}

.search-input {
  width: 70%;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 50px;
}

.search-input input {
  text-align: center;
  color: black;
}

.search-buttons {
  margin: 20px;
  display: flex;
  gap: 1rem;
}

.input-search-school {
  text-align: center;
}

.school-card {
  margin: 10px;
  width: 310px;
  height: 400px;

  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.056);

}

.school-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.school-card .card-img-top {
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.school-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.school-card .card-text {
  font-size: 1rem;
  color: #666;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.buttons-pagination {
  display: flex;
  gap: 2rem;
}

.buttons-pagination button {
  background-color: black;
  color: white;
}

.buttons-pagination button:hover {
  background-color: rgb(108, 108, 108);
  color: rgb(20, 19, 19);
}


/* SCHOOL DETAILS /////////////////// */

.school-info-details {
  background-color: #f7f7f765;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgb(49, 48, 48);
  transition: transform 0.2s ease-in-out; 
  margin: 15px
}
.school-info-details:hover{
  transform: scale(1.02); 
  background-color: rgba(255, 255, 255, 0.295);
  color: black;
}
.school-info-details ul {
  list-style-type: none; 
}

.school-details-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160vh;
}
.row-school-details{
  background-color: rgba(255, 255, 255, 0.311);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.row-school-details::before {
  content: "";
  background-image: url(https://img.freepik.com/free-photo/surfer-ocean-with-breathtaking-sunset-sky-background_181624-6844.jpg?size=626&ext=jpg&ga=GA1.1.141789769.1682703468&semt=ais);
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1; 
}
.icon-details-school{
  margin-right: 2px;
}
.card-school-details {
  width: 100%px;
  border: 1px solid #ddd; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s ease-in-out; 
  display: flex;
  margin: 50px;
  margin: 10px;
}
.card-school-details:hover {
  transform: scale(1.02); 
}
.title-school-details{
  color: white;
  text-align: center;
  padding-top: 1rem;
}