/* Reset dei margini e del box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile di base del corpo della pagina */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(154deg, rgba(240, 235, 171, 1) 0%, rgba(170, 170, 255, 1) 0%, rgba(243, 201, 255, 1) 45%, rgba(247, 223, 252, 1) 73%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%, rgba(194, 195, 248, 1) 100%);
}

/* Contenitore principale del profilo */
.container-profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 20px;
    /* Aggiunto spazio ai bordi */
}

.first-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Stile dell'avatar del profilo */
.avatar-profile-page {
    width: 200px;
    height: 190px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.avatar-profile-page:hover {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
}

/* Contenitore delle informazioni principali */
.container-intro-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: rgb(90, 89, 89);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.249);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 8rem;
    position: relative;
}
.container-intro-image::before{
    content: "";
    background-image: url(https://img.freepik.com/free-photo/surfer-ocean-with-breathtaking-sunset-sky-background_181624-6844.jpg?size=626&ext=jpg&ga=GA1.1.141789769.1682703468&semt=ais);
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow-y: hidden !important;
}
/* Nome del profilo */
.profile-name {
    margin-top: 30px;
    display: inline-block;
    width: 145%;
    text-align: center;
    font-size: 40px;
}

.text-pubblicazioni {
    color: rgb(69, 68, 68);
}

/* Contenitore dell'email */
.email-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Icona dell'email */
.icon-email {
    font-size: 20px;
}

/* Icona del compleanno */
.icon-birthday {
    font-size: 20px;
}

.birthday-container {
    padding: 10px;
    display: flex;
    gap: 0.7rem;
}

/* Sezione delle carte delle spiagge */
.main-row {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* Consentiamo il wrapping delle carte */
    gap: 20px;
    /* Aggiunto spazio tra le carte */
}

/* Contenitore delle carte delle spiagge */
.beach-card-container {
    background-color:transparent;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 15px 25px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5rem;
    position: relative;
    overflow-y: auto !important;
    flex-direction: column;
    padding: 50px;
    display: flex;
    align-items: center;
     height: 40rem;

}

.beach-card-container::-webkit-scrollbar {
    display: none;
}

.card-profile-user {
    min-width: 500px;
}

/* Stile delle carte delle spiagge */
.card {
    background-color: transparent;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border: #4B1248;
    max-width: 500px;
    margin: 50px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
    background-color: transparent;
}

.card-title {
    font-size: 18px;
    padding: 10px;
}

.card-img {
    max-width: 100%;
    height: auto;
}

.card-text {
    margin-top: 10px;
    font-size: 14px;
}

.image-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}