.component-fixed {
    position: fixed;
<<<<<<< HEAD
    top: 90px;
    left: 90%;
=======
    top: 120px;
    left: 95%;
>>>>>>> CSS_IMPLEMENTATION
    transform: translateX(-50%);
    background-color: transparent;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-fixed:hover {
    background-color: rgba(255, 255, 255, 0.093);
}
<<<<<<< HEAD
/* .component-fixed-2 {
    position: fixed;
    top: 110px;
    left: 66%;
    transform: translateX(-50%);
    background-color: transparent;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 999;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component-fixed-2:hover {
    background-color: rgba(255, 255, 255, 0.093);
}
 */

=======
>>>>>>> CSS_IMPLEMENTATION

.close-button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.invite {
    max-width: 100%;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    color: white;
}

@media (max-width: 768px) {
    .invite {
        width: 90%;
    }
}

.logo-immage-access {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.go-to-page-container {
    display: flex;
    margin-top: 20px;
    gap: 0.5rem;
    cursor: pointer;
<<<<<<< HEAD
}

.go-to-page-container a {
    text-decoration: none !important;
    color: white;
}
=======
    color: black;
}

.go-to-page-container p {
    text-decoration: none!important;
    color: rgb(16, 15, 15);
}
.intro-component{
    color: black;
    text-decoration: none;
}
.container-intro-component-volatil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

>>>>>>> CSS_IMPLEMENTATION

.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
}

.registration-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}