.logo-immage-nav {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.title-nav {
    font-size: 40px;
    font-weight: 500;
    color: rgb(239, 242, 245);
}

.container-nav-info{
    gap: 5rem;
}

.align-element {
    display: flex !important;
    align-items: center !important;
}

.nav-background {
    background-color: transparent;
    border: none;
    z-index: 999;
    position: fixed;
    width: 100%;
}
.navbar-scrolled {
    background-color: black;
    transition: background-color 0.3s ease;
}

.nav-links {
    color: white !important;
    font-size: 20px !important;
    margin-top: 10px;
    margin-left: 10px;
}
.user-icon{
    color: white;
}
.custom-dropdown{
    height: 95px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.drop-title{
    text-align: center;
    cursor: pointer;
    color: #0c0b0b;
    font-weight: bold;
}

.dropdown-menu {
    transform: translateX(-50%);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 90%;
    left: 30px;
    margin-top: var(--bs-dropdown-spacer);
    background-color: white;
}
.user-name-nav{
    color: white!important;
    font-size: 18px;
}

.modal-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
